html body{
	margin: 0 ;
}
.container{
	display: flex;
	flex-wrap: wrap;
}

header{
	background: #4f8ef2;
	/*position: relative;*/
	width: 100%;
	top:0;
	height:70px;
	z-index: 1;
	
}


.logo{
	position: absolute;
	line-height: 40px;
	flex-wrap: wrap;
}

 .fa-cloud{
	font-size: 30px;
	color: white;
	margin-left: 30px;
}


.monitor ul li{
	display: inline;
	list-style: none;
	margin-left: 30px;
	color: white;
}

.monitor{
	float: right;
}


#top{
	clear: right;
	box-sizing: border-box;
	background: #4f8ef2;
	display: flex;
	flex-wrap: wrap;
}


#top .left{
	/*display: flex;*/
	/*flex-direction: column;*/
	margin-top: 50px;
	float: left;
	width: 40%;
	padding: 50px;
}

#top .mobile_right{
display: none;	
}
#top .desktop_right{
	width:30%;
	/*display: flex;
	flex-direction: column;*/
	margin-top: auto;
	/*flex-wrap: wrap;*/
	height: auto;
}

 #top>.right>#responsive{
	height: auto;
}


h1{
	color: white;
	font-size: 35px;
}


#mid{
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
}

#mid .left{
	margin-top: 50px;
	float: left;
	width: 15%;
	padding: 50px;
	
}

#mid .right{
	width:50%;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	flex-wrap: wrap;
}
.mobile{
  display: none;
}


@media screen and (min-width: 0) and (max-width: 600px){
   .monitor{
    display: none;
  }

  .mobile{
  	display: block;
  	margin-top:60px;
  	color: white;
  	
  }

  .mobile ul li{
  	list-style: none;


  }
.logo{
	position: absolute;
	line-height: 40px;
	flex-wrap: wrap;
}

 .fa-cloud{
	font-size: 20px;
	color: white;
	margin-left: 30px;
	height: auto;
}

#top .desktop_right{
	display: none;
}
#top .mobile_right{
	display: block;
	/*display: flex;
	flex-direction: column;*/
	margin-top: auto;
	/*flex-wrap: wrap;*/
	height: auto;
}
}



  


